:host {
  display: flex;
  gap: 4rem;
  padding: 4rem;
  flex-grow: 1;
  justify-content: center;
}

.navigation {
  height: 100%;
  width: 25rem;
  flex-shrink: 0;
}

.content {
  // Text can get a bit hard to read otherwise, when spread out too widely...
  flex-grow: 1;
  max-width: 840px;

  &__error {
    $padding: 1.5rem;

    border-radius: .5rem;
    border: 2px solid var(--highlight-warning-color);
    background-color: var(--highlight-warning-color--o);
    padding: $padding;
    padding-top: 4rem;
    position: relative;

    &::before {
      position: absolute;
      content: 'Request Error';
      top: $padding;
      left: $padding;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

@media print {
  .navigation {
    display: none;
  }
}

// On smaller devices, for now, the navigation just slides above the content
@media only screen and (max-width: 1200px) {
  :host {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .content {
    width: 100%;
    max-width: none;
  }
}