<div class="navigation">
  <div #navigationToggle (click)="onNavigationToggle(navigationToggle)" class="navigation__toggle">
    <img src="/assets/icons/menu.svg" alt="menu">
  </div>

  <div #navigationContent class="navigation__content">
    <app-navigation
      [navigationData]="navigationData()"
      (navigationChanged)="onNavigationEntryClick($event, navigationToggle, navigationContent)"
    ></app-navigation>
  </div>
</div>

<div class="content">
  @if (currentError(); as currentError) {
    <div class="content__error">
      <p>{{currentError}}</p>
    </div>
  }

  @if (currentData(); as currentData) {
    <markdown
      #markdown
      lineNumbers
      katex
      [katexOptions]="katexOptions"
      (ready)="onMarkdownReady()"
      (error)="onMarkdownError($event)"
      [data]="currentData"
      [disableSanitizer]="true"
    >
    </markdown>
  }
</div>
