<div class="navigation">
  <app-navigation
    [navigationData]="navigationData()"
    (navigationChanged)="onNavigationEntryClick($event)"
  ></app-navigation>
</div>

<div class="content">
  @if (currentError(); as currentError) {
    <div class="content__error">
      <p>{{currentError}}</p>
    </div>
  }

  @if (currentData(); as currentData) {
    <markdown
      #markdown
      lineNumbers
      katex
      [katexOptions]="katexOptions"
      (ready)="onMarkdownReady()"
      (error)="onMarkdownError($event)"
      [data]="currentData"
      [disableSanitizer]="true"
    >
    </markdown>
  }
</div>
