:host {
  border: 1px solid var(--secondary-color);
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

canvas {
  width: 100%;
  background-color: white;
  border-radius: .2rem;
}

.canvas-controls {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}