html {
  --page-width: 85em !important;
}

h1 {
  font-size: calc(var(--global-font-size) * 1.5) !important;
}

h2 {
  margin-top: var(--global-line-height);
  font-size: calc(var(--global-font-size) * 1.3) !important;
}

h2, h3 {
  font-weight: bolder !important;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.1)
}

h3 {
  font-size: calc(var(--global-font-size) * 1.1) !important;
}

.third-width-image {
  display: block;
  width: 33%;
}

.half-width-image {
  display: block;
  width: 50%;
}