html {
  --page-width: 70em !important;
}

h1 {
  font-size: calc(var(--global-font-size) * 1.5) !important;
}

h2 {
  margin-top: var(--global-line-height);
}

.third-width-image {
  display: block;
  width: 33%;
}

.half-width-image {
  display: block;
  width: 50%;
}