@if (navigationData != null) {
  @for (topLevelEntry of navigationData.topLevelEntries; track topLevelEntry.src) {
    <a
      [routerLink]="makePath(null, topLevelEntry)"
      [class.navigation-link--active]="currentlyActiveEntry == topLevelEntry"
      class="navigation-link"
    >{{ topLevelEntry.title }}</a>
  }

  @for (category of navigationData.categories; track category.title) {
    <p class="navigation-headline">{{ category.title }}</p>

    @for (categoryEntry of category.entries; track categoryEntry.src) {
      <a
        [routerLink]="makePath(category, categoryEntry)"
        [class.navigation-link--active]="currentlyActiveEntry == categoryEntry"
        class="navigation-link navigation-link--categorized"
      >{{ categoryEntry.title }}</a>
    }
  }
}
